@import '../../style/main.scss';
.block {
  background-color: rgb(135, 183, 241);
  color: black;
  padding: 3%;
  border: 1px solid black;
  margin-top: 10%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position: relative;
  overflow: hidden;
  &-title, &-content{
    line-height: 1;
    text-transform:capitalize;
    text-align: left;
    margin-left: 2%;
  }

  &-indicator{
    left: 0;
    top: 0;
    width: 3%;
    height: 100%;
    border: none;
  }
}