@import '../../style/main.scss';

.block {
  background-color: rgb(135, 183, 241);
  color: black;
  padding: 3%;
  border: 1px solid black;
  margin-top: 10%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  &-title{
    text-transform:capitalize;
    text-align: left;
  }
  &-list {
    list-style: none;

    li {
      margin-bottom: 5%;
      text-align: left;
      position: relative;
      display: flex;
      width: 100%;
      line-height: 1;
      align-items: center;
      padding-top: 2%;
      padding-bottom: 2%;

      &:hover {
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
      }

      &:after {
        content: '';
        width: 1%;
        height: 100%;
        background-color: $bgSidebar;
        opacity: 0, 6;
        position: absolute;
        left: 0;
        top: 0;
      }

      span {
        min-width: 5%;
        text-align: right;
        margin-right: 2%;
      }

      a {
        color: rgb(23, 96, 120);
        text-decoration: none;
        
        &:hover {
          font-weight: bold;
        }
      }
    }


    &__todos {
      li {
        padding-right: 7%;

      }
    }
  }
  &-indicator{
    right: 2%;
    top: 30%;
    width: 3%;
  }
}


@media (min-width: $laptop) {
 .block{
  margin-top: 0;
 } 
}
