@import '../../style/main.scss';

.default {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    color: $bgSidebar;
    text-align: center;
    line-height: 1;
  }
  p{
    color: black;
  }
  &-img{
    margin-top: 10%;
    width: 50%;
    img {
      max-width: 100%;

    }
  }
}

.hintPopup {
  background-color: white;
  width: auto;
  max-width: 30%;
  position: absolute;
  top: 15%;
  right: 12%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 0 4px 0px black;
  border: 6px solid rgb(13, 183, 13);
  &:after {
    content: "";
    width: 25px;
    aspect-ratio: 1/1;
    border: 4px solid gold;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(35px, 6px)  rotate(-30deg);
    border: none;
    border-left: 10px solid rgb(13, 183, 13);
    border-radius: 50%;
    border-top-left-radius: 15px;
  }

  button {
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 0;
    border: none;
    outline: none;
    background-color: none;
    position: absolute;
    top: 4%;
    right: 4%;
    padding: 2%;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: initial;

    span {
      display: block;
      width: 100%;
      height: 15%;
      position: relative;
      background-color: $red;
      border-radius: 10px;
      transform: rotate(45deg);

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: inherit;
        border-radius: 10px;
        transform: rotate(-90deg);
      }
    }

    &:hover {
      padding: 2.5%;
    }
  }
  h2{
    color: $bgSidebar;
    line-height: 1;
    font-size: 10px;
    text-align: center;
    margin-bottom: 10%;
  }
  p {
    line-height: 1;
    color: $bgSidebar;
    font-size: 10px;
  }

}