.burger {
    position: fixed;
    width: 5%;
    order: 2;
    top: 5%;
    right: 95%;
    z-index: 15;
    height: fit-content;
    button {
        background-color: rgb(62, 243, 128);
    }

    &__innerSidebar {
        position: relative;
        display: inline;
        float: right;
        button {
            background-color: rgb(250, 119, 213);
        }
    }
}