.burger {
<<<<<<< HEAD
    position: fixed;
    width: 5%;
    // display: inline;
    // float: right;
    order: 2;
    top: 5%;
    right: 95%;
    background-color: yellow;
    z-index: 15;
    height: fit-content;
    button {
        background-color: red;
    }

    &__innerSidebar {
        width: 10%;
        position: relative;
        // display: inline;
        float: right;
        button {
            background-color: rgb(250, 250, 119);
        }
=======
    width: 6vw;
    height: 6vw;
    order: 2;
    pointer-events: visible;
    position: absolute;
    right: 0;
    top: 5%;
    transform: translateX(100%);
    border: 2px solid black;
    padding: 0.3%;
    background-color: rgb(62, 243, 128);

    &-button {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span,
        &:before,
        &:after {
            content: "";
            background-color: black;
            width: 90%;
            height: 13%;
            transition: all .3s ease-in-out;
            border-radius: 15px;
        }

        &:before {
            transform: translateY(-100%);
        }

        &:after {
            transform: translateY(100%);
        }



    }

    &__open {
        .burger-button {
            span {
                transform: rotate(270deg);
                opacity: 0;
            }

            &:before {
                transform: translateY(100%) rotate(45deg);
            }

            &:after {
                transform: translateY(-100%) rotate(-45deg);
            }
        }

>>>>>>> upstream/main
    }
}