@import '../../style/main.scss';

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  height: 100%;
  &-container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-name {
    color: $bgSidebar;
  }

  &-id {
    color: $bgSidebar;
  }

  &-avatar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    img {
      max-width: 100%;
    }
  }

  &-infoList {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    &--item {
      margin-right: 5%;

      a {
        &:before {
          content: none;
        }
      }
    }
  }

  &-remove {
    width: 7%;
    aspect-ratio: 1/1;

    form {
      width: 100%;
      height: 100%;
      display: flex;
      padding: 0;
      transition: all .1s ease-in-out;

      button {
        width: 100%;
        background-image: url('../../assets/img/remove2.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: initial;
        border-radius: 0;
        border: none;
        box-shadow: none;
        cursor: pointer;
      }
    }

    &:hover {
      form {
        padding: 1%;
      }
    }
  }

  
}

@media (min-width: $laptop) {
  .user{
    flex-direction: row;
    align-items: flex-start;
    &-container1{
      flex-grow: 1;
      width: 35%;
      
    }
    &-block{
      margin-left: 5%;
      flex-grow: 3;
    }
  }
}