@import '../../style/main.scss';

.user {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  &-name {
    color: $bgSidebar;
  }

  &-infoList {
    width: 100%;
    display: flex;
    justify-content: center;

    &--item {
      margin-right: 5%;

      a{
        &:before {
          content: none;
        }
      }
    }
  }
}