@import '../../style/main.scss';

.user {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;

<<<<<<< HEAD
  // background: $activeLink;
=======

>>>>>>> a79d42f8655aa9457ae8428f9d5bfabd5e1cebdb
  &-name {
    color: $bgSidebar;
  }

  &-infoList {
    width: 100%;
    display: flex;
    justify-content: center;

    &--item {
      margin-right: 5%;

      a{
        &:before {
          content: none;
        }
      }
    }
  }
<<<<<<< HEAD
  &-link{
    color: green;
  }
=======
>>>>>>> a79d42f8655aa9457ae8428f9d5bfabd5e1cebdb
}