@import '../../style/main.scss';

.popup {
  background-color: $bgSidebar;
  width: auto;
  max-width: 30%;
  position: absolute;
  top: 15%;
  right: 12%;
  padding: 4% 3%;
  border-radius: 10px;
  box-shadow: 0 0 4px 0px black;
  border-color: $bgSidebar;
  &:after {
    content: "";
    width: 25px;
    aspect-ratio: 1/1;
    border: 4px solid gold;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50%) rotate(-30deg);
    border: none;
    border-left: 15px solid $bgSidebar;
    border-bottom-right-radius: 0;
  }

  &-button {
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 0;
    border: none;
    outline: none;
    background-color: inherit;
    position: absolute;
    top: 4%;
    right: 4%;
    padding: 2%;
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: initial;

    span {
      display: block;
      width: 100%;
      height: 15%;
      position: relative;
      background-color: $red;
      border-radius: 10px;
      transform: rotate(45deg);

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: inherit;
        border-radius: 10px;
        transform: rotate(-90deg);
      }
    }

    &:hover {
      padding: 2.5%;
    }
  }

  p {
    line-height: 1;
    color: $activeLink;
    font-size: 10px;
  }

}