@import '../../style/main.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bgSidebar;
  height: 5%;
  width: 100%;
  display: flex;
  transition: all .3s ease-in-out;
  justify-content: space-between;
  &-logo {
    width: auto;
    aspect-ratio: 1 /1;
    display: flex;
    padding: 0;
    transition: all .1s ease-in-out;

    &:hover {
      padding: 0.3%;
    }

    img {
      max-width: 100%;
    }
  }

  &-links {
    display: flex;
    align-items: center;
    flex-grow: 3;
    justify-content: flex-end;

    a {
      width: auto;
      text-align: right;
      margin-right: 5%;

      &:last-child {
        margin-right: 0;
      }

      &:before {
        content: none;
      }
    }
  }

  &__appear {
    transform: translateY(-100%);
  }
}

@media (min-width: $laptop) {
  .header {
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    &-logo{
      width: 5%;
    }
  }
}

@media (min-width: $desktop) {
  .header {
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    &-logo{
      width: 3%;
    }
  }
}