@import './root.scss';
@import './vars.scss';
@import '../components/photo-album/PhotoAlbum.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}
textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
}
textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

a.active{
  color: white;
}
a.pending{
  color: rgb(160, 248, 100);
}
.my-node-appear {
  transform: translateX(-50%);
}
.my-node{
  transition: all .3s ease-in-out;
}
.my-node-enter {
  opacity: 0;
  transform: translateX(-100px);
}
.my-node-enter-active {
  opacity: 0;
}
.my-node-exit {
  opacity: 1;
  transform: translateX(-100px);
}
.my-node-exit-done{
  transform: translateX(-50%);
  visibility: hidden;
}
.my-node-exit-active {
  opacity: 0;
}
