@import './vars.scss';

#root {
  display: flex;
  #detail {
    flex-grow: 3;
    background-color: $blue;
    padding: 3%;
    color: rgb(248, 217, 113);
  }

  #detail.loading {
    opacity: 0.3;
    background: rgba(0, 0, 0, 0.2)
  }
}