@import './vars.scss';

#root {
  display: flex;
  .popup{
    z-index: 100;
    &__remove{
      background: rgb(177, 173, 173);
      border: 2px solid greenyellow;
      button{
        display: none;
      }
      &:after{
        content: none;
      }
    }
  }
  #detail {
    min-height: 100vh;
    flex-grow: 3;
    background-color: $activeLink;
    padding-top: 10%;
    position: relative;

    #error-page{
      background: rgb(154, 154, 248);
      min-height: auto !important;
    }
  }

  #error-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}