@import './vars.scss';

#root {
  display: flex;
  #detail {
    flex-grow: 3;
    background-color: $activeLink;
    padding: 3%;
    padding-top: 10%;
    color: rgb(248, 217, 113);
    position: relative;
  }
}