$blue: rgb(77, 77, 236);
$red: rgb(236, 64, 41);
$green: rgb(45, 245, 45);

$activeLink: rgb(243, 243, 243);
$pendingLink: rgb(143, 250, 110);
$bgSidebar: rgb(51, 44, 44);
$linkColor: rgb(0, 217, 255);

$laptop: 720px;
$desktop: 1024px;