@import '../../style/main.scss';

.sidebar {
  position: fixed;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  transition: all .3s ease-in-out;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 10;
}

@media (min-width: $desktop) {
  .sidebar{
    transform: translateX(-20%);
  }
}