@import '../../style/main.scss';

.footer {
    background-color: $bgSidebar;
    width: 100%;
    transition: all .3s ease-in-out;
    justify-content: space-between;
    display: flex;
    align-items: center;
    &-copyRight {
        color: $activeLink;
        line-height: 1;
        font-size: 12px;
        a{
            color: white;
            font-style: italic;
        }
    }

    &-social {
        max-width: 70%;

        ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li {
                width: 8%;
                aspect-ratio: 1/1;
                margin-right: 6%;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    padding: 0;
                    display: flex;
                    transition: all .2s ease-in-out;

                    &:hover {
                        padding: 5%;
                    }

                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: $laptop) {
    .footer {
        &-social {
            ul {
                li {
                    width: 5%;
                }
            }
        }
    }
}

@media (min-width: $desktop) {
    .footer {
        &-social {
            ul {
                li {
                   width: 4%;
                   margin-right: 2%;
                }
            }
        }
    }
}