.list {
<<<<<<< HEAD
  padding: 3%;
  background-color: rgb(238, 82, 82);
  // width: fit-content;
=======
  position: relative;
  background-color: rgb(238, 82, 82);
>>>>>>> upstream/main
  width: 50%;
}

.item{
  color: white;
}